<article
  [ngClass]="noText() ? 'grid-rows-1' : 'grid-rows-[200px_auto]'"
  class="grid h-[350px] bg-white drop-shadow-xl rounded-2xl relative z-20"
>
  <div class="relative flex justify-center">
    <img
      class="absolute size-full object-cover object-center"
      [ngClass]="noText() ? 'rounded-2xl' : 'rounded-t-2xl'"
      [src]="imgSrc()"
      [alt]="imgTitle()"
    />
    <div
      class="bg-[#000000ce] size-full absolute top-0 left-0 rounded-t-2xl"
      [ngClass]="noText() ? 'rounded-2xl' : 'rounded-t-2xl'"
    ></div>
    <h3
      class="text-primary font-bebas text-3xl relative z-10 self-center justify-self-center p-4 text-center"
    >
      {{ title() }}
    </h3>
  </div>
  @if ( !noText() ) {

  <p class="p-4 font-hind text-justify">
    {{ description() }}
  </p>
  }
</article>
