<section class="flex gap-8 flex-col relative z-0">
  <image-banner
    [imageUrl]="banner.imageUrl"
    [imageTitle]="banner.imageTitle"
    [mainText]="banner.mainText"
  />
  <image-info [imgUrl]="nosotros.imgUrl" [title]="nosotros.title">
    <span class="text-secondary">SNT Group</span> es un grupo empresarial
    <span class="text-secondary">líder</span> en diversos sectores, con sede en
    el corazón de Sudamérica. Nos hemos destacado por nuestra capacidad para
    ejecutar proyectos de
    <span class="text-secondary">gran envergadura y complejidad</span>,
    impulsando la innovación y adoptando
    <span class="text-secondary">tecnologías emergentes</span> que generan un
    impacto positivo en nuestros clientes, empleados y la comunidad. En SNT
    Group, combinamos la accesibilidad y el soporte personalizado de una empresa
    local con la solidez y los recursos de alianzas multinacionales. Nos
    sentimos honrados de ser parte de tus proyectos, y estamos comprometidos en
    ofrecer soluciones que superen tus expectativas y contribuyan al éxito de tu
    negocio.
  </image-info>
  <image-info
    [imgUrl]="misionVision.imgUrl"
    [title]="misionVision.title"
    [left]="misionVision.left"
  >
    <span class="text-secondary">SNT Group</span> es un grupo empresarial
    <span class="text-secondary">líder</span> en diversos sectores, con sede en
    el corazón de Sudamérica. Nos hemos destacado por nuestra capacidad para
    ejecutar proyectos de
    <span class="text-secondary">gran envergadura y complejidad</span>,
    impulsando la innovación y adoptando
    <span class="text-secondary">tecnologías emergentes</span> que generan un
    impacto positivo en nuestros clientes, empleados y la comunidad. En SNT
    Group, combinamos la accesibilidad y el soporte personalizado de una empresa
    local con la solidez y los recursos de alianzas multinacionales. Nos
    sentimos honrados de ser parte de tus proyectos, y estamos comprometidos en
    ofrecer soluciones que superen tus expectativas y contribuyan al éxito de tu
    negocio.
  </image-info>
</section>
