<nav class="flex justify-between sticky top-0 items-center p-4 font-poppins bg-white shadow-lg rounded-b-2xl z-10">
  <app-logo />
  <separating-line class="w-[1px] h-[70px]" />
  <ul class="flex gap-6 text-gray-400">
    @for (link of navLinks; track $index) {
      <a class="hover:text-black" [routerLink]="link.path" routerLinkActive="font-bold text-black">{{ link.label }}</a>
    }
  </ul>
  <separating-line class="w-[1px] h-[70px]" />
  <a class="bg-primary text-white p-4 rounded-lg font-semibold" routerLink="'/contacto'" routerLinkActive="'active'">Contáctanos</a>
</nav>
