<section class="flex gap-12 flex-col relative z-0">
  <image-banner [imageUrl]="banner.imageUrl" [imageTitle]="banner.imageTitle" [initialText]="banner.initialText" [mainText]="banner.mainText" [lastText]="banner.lastText"/>
  <!-- <separating-line class="h-[2px] w-full"/> -->
  <section class="flex gap-28 self-center h-[450px]">
    <div class="relative w-[450px]">
      <img src="assets/inicio/aboutus.jpg" class=" size-full rounded-4xl shadow-2xl" alt="">
    </div>
    <!-- <separating-line class="w-[2px] h-full"/> -->
    <article class="flex flex-col gap-4 justify-center items-center pattern-boxes pattern-blue-500 pattern-bg-white
    pattern-size-6 pattern-opacity-20">
      <h2 class="text-4xl font-semibold bg-[#F7A511] p-4 rounded-xl text-[#412a10] shadow-2xl">Nosotros</h2>
      <p class="max-w-[70ch] text-lg font-semibold text-[#673a07] text-justify leading-8 bg-[#e7c27c] font-hind p-8 rounded-2xl shadow-2xl">
        En SNT Group, somos un equipo multidisciplinario dedicado a transformar ideas en realidades sólidas y duraderas. Contamos con expertos en arquitectura, ingeniería y gestión de proyectos, lo que nos permite abordar cada fase constructiva con precisión y eficiencia.
        Nos comprometemos a la excelencia en cada proyecto, asegurando los más altos estándares de calidad, seguridad y sustentabilidad. Valoramos la comunicación abierta con nuestros clientes, construyendo relaciones basadas en confianza y transparencia para superar sus expectativas y entregar resultados que enriquezcan a la comunidad. ebcd95
      </p>
    </article>
  </section>
</section>


