<section class="flex gap-12 flex-col relative z-0">
  <image-banner
    [imageUrl]="banner.imageUrl"
    [imageTitle]="banner.imageTitle"
    [mainText]="banner.mainText"
  />
  <section class="flex flex-col w-full px-4 md:px-10 gap-10">
    <h2 class="text-4xl font-bold self-center">Actividades</h2>
    <carousel [slides]="activities" [buttonsOnTop]="true" slideTemplate>
      <ng-template slideTemplate let-card let-isActive="isActive">
        <div class="flex flex-col gap-4">
          <image-card
            [noText]="true"
            [title]="card.title"
            [imgSrc]="card.img"
          />
          @if (isActive) {
          <section class="bg-white text font-hind p-8 shadow-xl rounded-2xl">
            {{ card.descripcion }}
          </section>
          }
        </div>
      </ng-template>
    </carousel>
  </section>
</section>
